*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    padding: 20px 20px 10px 20px;
    border-bottom: 5px solid green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav h3{
    font-size: 20px;
    margin-top: 3px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    font-size: 18px;
}
nav ul a{
    margin: 0px 20px;
    color: grey;
    text-decoration: none;
}
ul a:hover{
    color: white;
    background-color: green;
    padding: 1px 5px;
    border-radius: 10px;
}
ul a:active{
    color: white;
    background-color: green;
    padding: 0px 1px;
}
.contact{
    padding: 0;
}
.contact span{
    margin: 0 10px;
}
.home{
    margin-top: 3px;
}
@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.home-image{
    width: 550px;
    margin-top: 40px;
    margin-right: 200px;
    animation: rotation 20s linear 10s;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page-title{
    margin-left: 370px;
    margin-top: 50px;
}
.page-title h1{
    font-size: 65px;
    color: green;
}
.page-title p{
    font-size: 18px;
    padding: 5px;
    font-weight: 500;
}
.home-button{
    margin: 25px 0px;
    padding: 16px 20px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 15px;
    box-shadow: 2px 2px 5px 2px goldenrod;
    border: none;
}
ul .home a{
    text-decoration: none;
    color: grey;
}
/*-------------------------------------------About Page ----------------------------------------------*/
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: azure;
    padding: 30px 0px;
}
.about-image img{
    width: 470px;
    margin-top: 30px;
    border-radius: 30px;
    margin-left: 150px;
}
.about-title{
    margin-right: 50px;
}
.about-container p{
    font-size: 17px;
    font-weight: 500;
}.about-container .first-p{
    color: green;
    font-size: 22px;
}
.about-container h1{
    font-size: 45px;
    margin: 3px 0;
}
.about-title p span{
    color: red;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

/*------------------------------------------------------Service------------------------------------------------------------------*/
.service-title{
    text-align: center;
}
.service-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    text-align: center;
    margin: 40px 200px;
    align-items: center;
    justify-content: center;
   /* background-color: blanchedalmond;*/
    padding: 50px;
    border-radius: 20px;
}
.service-1 img{
    width: 100px;
    height: 66px;
    margin-left: 30px;
}
.service-body{
    margin: 150px 0px;
}
.service-title p{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 5px 0;
}
.service-title h1{
    font-size: 40px;
    color: green;
}
.service-1 h2{
    color: orangered;
}

/*------------------------------------------Menu------------------------------------------------*/
.menu-title{
    text-align: center;
    margin: 55px 0px;
}
.menu-meal{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0px 300px;
    column-gap: 50px;
}
.menu{
    border: 4px solid green;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 20px 0px 0px 20px;
    background-color: beige;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu .price{
    color: rgb(24, 161, 24);
}
.menu img{
    width: 130px;
}
.menu img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.menu .icon{
    width: 30px;
    float: inline-end;
    background-color: rgb(109, 189, 109);
    border-radius: 3px;
    padding: 5px;
}
.menu .icon:hover{
    background-color: rgb(246, 84, 25);
}.menu-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu-title p{
    margin: 10px;
    font-size: 20px;
    color: green;
    font-weight: 700;
}
.menu-title h1{
    font-size: 45px;
}
.menu-container{
    margin: 30px 0px;
    padding: 20px 0px;
    background-color: rgb(252, 247, 247);
}

/*-------------------------------------------------------contact-------------------------------------------------------*/
.contact-container img{
    width: 110px;
    display: block;
    padding: 7px;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px auto 20px auto;
    width: 60%;
    min-height: 100vh;
    padding: 7px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.contact-title h1{
    margin: 20px 0px;
}
.contact-heading{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-top: 20px;
}
.contact-headline{
    color: rgb(39, 148, 39);
    font-size: 18px;
    font-weight: 700;
}
.contact-button{
    margin-right: 150px;
    margin-top: 65px;
    padding: 15px; 
    border-radius: 10px; 
    color: white;
    background-color: rgb(39, 148, 39);
    border: none;
    font-size: 14px;
}
.contact-headline2{
    color: rgb(99, 99, 99);
    font-size: 16px;
}
.contact-address{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 50px;
    column-gap: 50px;
    text-align: justify;
}
.contact-address .tasty{
    color: rgb(39, 148, 39);
    font-size: 20px;
    padding: 5px 0px;
}
.contact-address .text{
    padding-bottom: 20px;
    font-size: 18px;
}
.contact-details{
    padding: 0px;
    line-height: 30px;
}
.contact-details h2{
    padding: 5px 0px;
}
.copyright{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: blue;
    padding: 7px 10px;
}
.contact-body{
    padding: 2px;
    margin-top: 150px;
    background-color: azure;
}

/*************************************Responsiveness************************************************/
@media screen and (min-width: 700px) and (max-width: 1500px){
    .body-container{
        width: 100%;
    }
    .main-container img{
        width: 300px;
    }
    nav{
        width: 100%;
    }
    section{
        width: 100%;
    }
}